* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #000;
}

.container {
  max-width: 420px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.header {
  text-align: center;
  padding: 16px 0;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #e0e0e0;
}

.tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
}

.tab {
  flex: 1;
  padding: 12px;
  text-align: center;
  background: none;
  border: none;
  font-size: 16px;
  color: #999;
  border-bottom: 2px solid transparent;
}

.tab.active {
  color: #000;
  font-weight: 600;
  border-bottom: 2px solid #e60000;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder {
  background-color: #f9f9f9;
  padding: 60px;
  border-radius: 12px;
  color: #ccc;
  font-size: 18px;
}

.actions {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 
    }


  .btn-primary {
  background-color: #0062FF; /* насыщенный синий */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-secondary {
  background-color: transparent;
  color: #0062FF;
  border: 1px solid #0062FF;
  border-radius: 8px;
  padding: 14px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
